<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/admin/dashboard/index">Табло</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/admin/menu/index">Меню</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/admin/nomenclatures/index">Номенклатури</a>
            </li>
        </ul>
    </div>
</nav>
<h3>@ViewData["Title"]</h3>
<hr />