@using Kitchen.Web.Infrastructure;
@{
    ViewBag.Title = "Контакти";
    string mail = Configuration.EmailAddress;
    string phone = Configuration.Phone;
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="contacts-wrapper">
    <aside class="contacts-info">
        <address>
            Младост 3<br />
            Блок 365 А<br />
            <abbr title="Phone">Тел:</abbr>
            @Configuration.Phone
        </address>

        <address>
            <strong>Email: </strong><a href="mailto:@mail">@mail</a><br />
        </address>
    </aside>
    <aside class="map-wrapper">
        <div id="contacts-map"></div>
    </aside>
</div>
<!-- FUCK YOU GOOGLE -->
<script>
    function initMap() {
        var kitchenLatLng = { lat: 42.639405, lng: 23.385408 };
        var mapDiv = document.getElementById('contacts-map');
        var map = new google.maps.Map(mapDiv, {
            center: kitchenLatLng,
            zoom: 17
        });
        var marker = new google.maps.Marker({
            position: kitchenLatLng,
            map: map,
            title: 'Ресторант Кухня'
        });
        marker.setAnimation(google.maps.Animation.BOUNCE);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGPjCZiGi0WcJ3dUg1bUNZ4YQy3cEGyb0&callback=initMap">
</script>