@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<DishViewModel>;
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в ресторант "Кухня"</h1>
</div>

<div>
    @{
        foreach (var dish in Model)
        {
            await Html.RenderPartialAsync("_DishPartial", dish);
        }
    }
</div>
