@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<string>;
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в ресторант "Кухня"</h1>
</div>

<div>
    @foreach (var item in Model)
    {
        <p>@item</p>
    }
</div>