@using Kitchen.Web.Models
@model OrderViewModel
@{
    ViewBag.Title = "Order";
}

<h2>Поръчка обедно меню</h2>
<h3>Направете заявка и ние ще доставим до вашия дом или офис</h3>

@using (Html.BeginForm("Submit", "Orders", FormMethod.Post, new { @class = "submit-order-form" } ))
{
    <fieldset>
        <legend>Данни за поръчката</legend>

        <div class="user-data">
            @Html.ValidationSummary(true)
            @Html.EditorForModel()
        </div>
        <div class="orders">
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>

            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
            <p>lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet </p>
        </div>
        <div class="submit-order">
            <input type="submit" value="Поръчай" />
        </div>
    </fieldset>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}