@using Kitchen.Web.Models
@model IEnumerable<NavViewModel>
<nav class="navigation">
    <ul>
        <li>
            <a href="~/">
                <img src="~/Content/imgs/home.png" alt="home" id="home-icon">
            </a>
        </li>
        @{ foreach (NavViewModel item in Model)
            {
                string selected = ViewBag.SelectedMenuItem == item.Controller ? "selected" : null;
                <li class="@selected">
                    @Html.RouteLink(item.Text,
                            new
                            {
                                controller = item.Controller,
                                action = item.Action,
                            })
                </li>
            }
        }
    </ul>
</nav>
