
* {
    margin: 0;
    padding: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

ul li {
    list-style-type: none;
}

body {
    text-align: center; /*For IE6 Shenanigans*/
    background-color: #eee;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    color: #303030;
}

    #wrapper header {
        padding: 10px;
    }

        #wrapper header li {
            border-bottom: 2px solid lightgray;
            display: inline-block;
            padding: 5px 5px 0;
        }

            #wrapper header li:hover {
                border-bottom: 2px solid limegreen;
                cursor: pointer;
            }

#home-icon {
    width: 24px;
    height: 16px;
}

#logo {
    width: 120px;
    height: 120px;
}

.headings {
    display: inline-block;
    margin: 20px 0 0 20px;
    vertical-align: top;
}

.content-section {
    display: block;
    padding-bottom: 10px;
    text-align: center;
}

    .content-section .home-page-content .half {
        display: inline-block;
        width: 473px;
        vertical-align: top;
    }

    .content-section article {
        border: 3px solid #eee;
        margin: 5px 0 0;
        padding: 15px;
        display: inline-block;
        text-align: left;
        vertical-align: top;
    }

        .content-section article img {
            width: 120px;
            height: 120px;
            float: left;
            border-radius: 60px;
            margin-right: 10px;
        }

        .content-section article p {
            display: inline-block;
        }

.front-slider > img {
    height: 250px;
    width: 100%;
}

footer {
    font-size: small;
    margin-top: 20px;
}

    footer .copy {
        text-align: center;
    }

.contacts-wrapper {
    margin-top: 20px;
    padding-left: 10px;
    border-left: 2px solid lightgray;
    height: 500px;
}

    .contacts-wrapper #contacts-map {
        height: 500px;
    }

    .contacts-wrapper .contacts-info {
        width: 250px;
        display: inline-block;
        line-height:30px;
    }

    .contacts-wrapper .map-wrapper {
        width: 690px;
        display: inline-block;
        float: right;
    }
